@import url('https://fonts.googleapis.com/css?family=DotGothic16');

.App{
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'DotGothic16';
}

.banner {
  text-align: center;
  font-size: 48px;
}

.content {
  text-align: center;
  font-size: 24px;
}

.clark {
  height: 50vh;
}